# Target build folders
target/
.next/
out/
dist/

# Dependencies
node_modules/
frontend/node_modules/
frontend/.next/
frontend/out/

# Local Environment & Deploy configs
.env
.env.local
.env.production
.env.development
.env.deployment
.env.deployment.local

# IDE and OS settings
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
